body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  text-align: center;
}
.darkMode {
  color: orange;
  font-size: 7em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0% 2% 0% 2%;
}

.lightMode {
  color: #b392d2;
  font-size: 7em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0% 2% 0% 2%;
}

.darkText {
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.lightText {
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
}